@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@theme {
    --color-medio_blanco: #F0F4F8;
    --color-azul1: #122A72;
    --color-gris1: #E3E7EF;
    --color-gris2: #C5C5D2;
    --color-gris3: #F8F9FC
}